body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px; /* Base font size */
    line-height: 1.6;
    width: 100%; /* Ensure the body takes full width */
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?technology');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.content, .footer {
    padding: 20px;
    text-align: center;
    width: 100%; /* Ensure content and footer take full width */
}

.section {
    margin-bottom: 20px;
}

/* Responsive iframe for embedded presentation */
iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Maintain aspect ratio */
    max-width: 960px; /* Maximum width */
    max-height: 569px; /* Maximum height */
}

a {
    color: #007bff;
    display: inline-block;
    margin: 5px 0;
}

a:hover {
    color: #0056b3;
}

img, video {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative; /* Change to relative */
    width: 100%; /* Ensure footer background spans full width */
}

/* Media Queries */
@media (min-width: 768px) {
    .hero {
        padding: 120px 20px;
    }

    .content, .footer {
        padding: 40px;
        text-align: left;
    }

    body {
        font-size: 18px;
    }

    .section {
        margin-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 85%;
        max-width: 1200px;
        margin: auto;
    }

    body {
        font-size: 20px;
    }
}
